<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child is-radiusless">
    <div v-html="vrpc.Getinfo.balance"></div>
<div id="vue-terminal" class="vue-terminal" @click="focus">
        <ul class="vue-terminal-output-container">
            <li :key="entry" v-for="entry in output">
                <p :key="line" v-for="line in entry.split('\\n')"><span>{{line}}</span></p>
            </li>
        </ul>
        <div class="vue-terminal-input-container">
            <div class="vue-terminal-prefix">{{prefix}}</div>
            <span :id="inputId" :class="{ focused : isFocused }" @keyup="keyUp" class="vue-terminal-input" contenteditable="true"></span>
        </div>
    </div>
    </div>
  </div>
</div>

