<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box is-radiusless">
      <p class="title" v-html="vlng.addressbook"></p>
     <div v-html="addressbook.labels"></div> 
       <form id="signup-form" @submit.prevent="labelForm" class="flx fii">
 
     
          <div v-html="vicons.balance"></div><h4 v-html="vlng.label"></h4><b-input type="text" name="label" v-model="label" placeholder="Enter a label for the address (e.g. Loki)" />
          <div v-html="vicons.balance"></div><h4 v-html="vlng.payto"></h4><b-input type="text" name="address" v-model="address" required placeholder="Enter a ParallelCoin address (e.g. XXXXXXX)" />
          <button type="submit" class="button is-warning" v-html="vlng.send"></button>
  </ul>

    </form>

    </div>
    <div class="tile is-child boxbox is-radiusless">
      <p class="title">Two</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box is-radiusless">
      <p class="title" v-html="vlng.addressbook"></p>
     <section>
        <b-field grouped group-multiline>
            <b-select v-model="perPage" :disabled="!isPaginated">
                <option value="5">5 {{ vlng.perpage}}</option>
                <option value="10">10 {{ vlng.perpage}}</option>
                <option value="15">15 {{ vlng.perpage}}</option>
                <option value="20">20 {{ vlng.perpage}}</option>
            </b-select>
            <div class="control is-flex">
                <b-switch v-model="isPaginated">Paginated</b-switch>
            </div>
        </b-field>

        <b-table
            :data="addressbook.data.labels"
            :paginated="isPaginated"
            :per-page="perPage"
            :current-page.sync="currentPage"
            :pagination-simple="isPaginationSimple"
            :default-sort-direction="defaultSortDirection"
            default-sort="time">

            <template slot-scope="props">
                <b-table-column field="label" :label=vlng.label width="180" sortable>
                    <span v-html="props.row.label" class="tag is-info is-medium"></span>
                </b-table-column>
                <b-table-column field="address" :label=vlng.address sortable>
                  <span v-html="props.row.address" class="tag is-light is-normal"></span>
               </b-table-column>
<b-table-column >
               <button class="button is-medium is-danger" @click="confirmCustomDelete(props.row.label)">Delete</button>
               </b-table-column>
            </b-table>
    </section>

    </div>
  </div>
</div>
