::-webkit-scrollbar { 
  display: none; 
}
*, *:before, *:after{
position: relative;
box-sizing: border-box;
margin: 0;
}
html, body {
  width: 100%;
  height: 100vh;
  background: #303030;
  color:#cfcfcf;
}


#app{
  width: 100%;
  height: 100vh;
padding: 1.5rem;
/* overflow: hidden; */
  display: flex;
  flex-direction: column;
}
.box{
  background-color: #CFCFCF;
}
  .duo{
    padding-right: 32px'
  }
  .duo:after{
    content:" DUO";
  }



  /* COLORS */


.white{
  background: #CFCFCF;
  fill:#CFCFCF;
}
.black{
  background: #303030;
  fill:#303030;
}
.blue{
  background: #3075cf;
  fill:#3075cf;
}
.light-blue{
  background: #30a5cf;
  fill:#30a5cf;
}
.green{
  background: #30cf30;
  fill:#30cf30;
}
.orange{
  background: #ff7500;
  fill:#ff7500;
}
.yellow{
  background: #ffd500;
  fill:#ffd500;
}


.red{
  background:#cf3030;
  fill:#cf3030;
}
.purple{
  background: #cf30cf;
  fill:#cf30cf;
}
.gray{
  background: #808080;
  fill:#808080;
}
  
  
  
  .pnlbg:hover{
    box-shadow: inset 1px 0 1px rgba(0,0,0,.62);
    transition: all 33ms ease-in;
  }

  
.cpt{
cursor: pointer;
}






:root {
  --vt-font-family: "VT323", monospace;
  --vt-font-size: 20px;

  --vt-margin: 10px;
  --vt-padding: 5px;

  --vt-border: 3px solid #30cf30;

  --vt-background-color: #303030;
  --vt-color: #30cf30;
}

.vue-terminal,
.vue-terminal * {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.vue-terminal {
  position: relative;

  width: calc(100% - 2 * var(--vt-margin));
  height: calc(100% - 2 * var(--vt-margin));

  margin: var(--vt-margin);
  padding: var(--vt-padding);

  border: var(--vt-border);

  background-color: var(--vt-background-color);
  color: var(--vt-color);

  font-family: var(--vt-font-family);
  font-size: var(--vt-font-size);
}

.vue-terminal * {
  float: left;
}

.vue-terminal-output-container {
  width: 100%;
}

.vue-terminal-output-container li {
  list-style: none;
  text-decoration: none;
  width: 100%;
  padding: var(--vt-padding);
  padding-top: 0;
  padding-bottom: 0;
}

.vue-terminal-output-container li pre {
  width: 100%;
  padding: 0;
}

.vue-terminal-output-container li pre span {
  width: 100%;
  font-family: var(--vt-font-family);
  font-size: var(--vt-font-size);
  white-space: pre;
}

.vue-terminal-input-container {
  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: flex-start;
}

.vue-terminal-prefix {
  padding: var(--vt-padding);
  padding-top: 0;
  padding-bottom: 0;

  flex-shrink: 1;
}

.vue-terminal-input {
  border: 0;
  outline: none;

  background: transparent;

  font-family: var(--vt-font-family);
  font-size: var(--vt-font-size);
  color: transparent;
  text-shadow: 0 0 0 var(--vt-color);

  padding: 0;
  margin: var(--vt-padding);
  margin-top: 0;
  margin-bottom: 0;
}

.focused {
  border-right: 10px solid var(--vt-color);
}